---
layout: default
title: CCNA Labs
---

<h1>CCNA Labs</h1>
{% for post in site.posts %}
    {% if post.tag == "lab" %}
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
    {% endif %}
{% endfor %}