---
layout: default
title: One Nav A Day
---
<div class="container">
    <h3 class="text-center text-primary my-2">One Navigation Style A Day Start July 26th 2022</h3>
    <div>
        <h6>Day One: IPV6 Address Types</h6>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#global-unicast">Global Unicast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Unique Local</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link Local</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Anycast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Multicast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Modified EUI 64</a>
            </li>
        </ul>
    </div>
    <hr>
    <div>
        <h6 id="global-unicast">Day Two: Global Unicast</h6>
        <h7>Justify Content Center</h7>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">2000::/3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">3fff:ffff:ffff:ffff:ffff:ffff:ffff:ffff/3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Unique</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Routable</a>
            </li>
        </ul>
    </div>
    <hr>
    <div>
        <h6>Day Three: Internt Redundancy Options</h6>
        <h7>Horizontal Navigation</h7>
        <ul class="nav flex-column align-items-md-center align-items-sm-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Single Homed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dual Homed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Multihomed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dual Multihomed</a>
            </li>
        </ul>
    </div>
    <hr>
    <div>
        <h6>Day Four: Security</h6>
        <h7>Disable link</h7>
        <ul class="nav nav-pills flex-column align-items-sm-end align-items-md-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Firewall</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Vulnerability</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Exploit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Thread</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Script Kiddies</a>
            </li>
        </ul>
    </div>
    <hr>
    <div>
        <h6>Day Five: Device Security</h6>
        <h7>Tab Styled Nav</h7>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="#">Privilege Exec Mode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">Global Configuration Mode</a>
            </li>
        </ul>
    </div>
    <hr>
    <div>
        <h6>Day Six: Network Device Management</h6>
        <h7>Dropdowns Style</h7>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#">Syslog</a>
            </li>
            <li class="nav-itme dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Logging Level</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item">Level 0: Emergency</a>
                    </li>
                    <li>
                        <a class="dropdown-item">Level 1: Alert</a>
                    </li>
                    <li>
                        <a class="dropdown-item">Level 2: Critical</a>
                    </li>    
                    <li><a class="dropdown-item">Level 3: Error</a></li>
                    <li><a class="dropdown-item">Level 4: Warnings</a></li>
                    <li><a class="dropdown-item">Level 5: Notifications</a></li>
                    <li><a class="dropdown-item">Level 5: Informational</a></li>
                    <li><a class="dropdown-item">Level 6: Debugging</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">SNMP</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Read Only</a></li>
                    <li><a class="dropdown-item">Read Write</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <hr>
    <div>
        <h6>Day Seven: QoS</h6>
        <h7>Tab and Pane Style Using Role</h7>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Voice</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="video-tab" data-bs-toggle="tab" data-bs-target="#video-tab-pane" type="button" role="tab" aria-controls="video-tab-pane" aria-selected="false">Video</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="data-tab" data-bs-toggle="tab" data-bs-target="#data-tab-pane" type="button" role="tab" aria-controls="video-tab-pane" aria-selected="false">Data</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">Voice should have latency less than or equal to 150ms, jitter less than or equal to 30ms, and loss less then 1%</div>
            <div class="tab-pane fade" id="video-tab-pane" role="tabpanel" aria-labelledby="video-tab" tabindex="0">Video should have lower priority than voice </div>
            <div class="tab-pane fade" id="data-tab-pane" role="tabpanel" aria-labelledby="data=tab" tabindex="0">Data have lowest priority in the queue</div>
        </div>
    </div>
    <hr>
    <div>
        <h6>Day Eight: Cloud Computing</h6>
        <h7>Tab and Pane Style Using Nav Element</h7>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-onpremise-tab" data-bs-toggle="tab" data-bs-target="#nav-onpremise" type="button" role="tab" aria-controls="nav-onpremise" aria-selected="true">OnPremise</button>
                <button class="nav-link" id="nav-colo-tab" data-bs-toggle="tab" data-bs-target="#nav-colo" type="button" role="tab" aria-controls="nav-colo" aria-selectd="false">Colo Facility</button>
                <button class="nav-link" id="nav-cloud-computing-tab" data-bs-toggle="tab" data-bs-target="#nav-cloud-computing" type="button" role="tab" aria-controls="nav-cloud-computing" aria-selected="false">Cloud Computing</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-onpremise" role="tabpanel" aria-labelledby="nav-onpremise-tab" tabindex="0">Customer owns everything and pays for CapEx and OpEx</div>
            <div class="tab-pane fade" id="nav-colo" role="tabpanel" aria-labelledby="nav-colo-tab" tabindex="0">Provides own network infrastructure and customer rent the space</div>
            <div class="tab-pane fade" id="nav-cloud-computing" role="tabpanel" aria-labelledby="nav-cloud-computing-tab" tabindex="0">On demand network</div>
        </div>
    </div>
    <hr>
</div>