<nav class="navbar navbar-expand-xxl navbar-dark bg-dark" style="--bs-bg-opacity: 1;">
    <div class="container">
        <a class="navbar-brand" href="/">KMANN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent", aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                {% for item in site.data.navigation %}
                    {% if item.name == "CCNA" %}
                        <li class="nav-item">
                            <a class="nav-link" role="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">{{ item.name }}</a>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if item.link == page.url %}active{% endif %}" {% if item.link == page.url %}aria-current="true"{% endif %} href="{{ item.link }}">{{ item.name }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                <li></li>
            </ul>
        </div>
    </div>
</nav>