<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">CCNA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
<div class="col-auto">
    <ul class="list-unstyled ps-0">
        {% for item in site.data.ccna %}
        {% if item.section == "Labs" %}
        <hr>
        {% endif %}
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#{{ item.id }}" aria-expanded="true">
                {{ item.section }}
            </button>
            <div class="collapse show" id="{{ item.id }}">
                <ul class="btn-toggle-nav nav flex-column fw-normal pb-1 small nav-pills">
                {% for post in site.posts %}
                    {% if post.tag == item.tag %}
                    <li class="nav-item"><a href="{{ post.url }}" class="nav-link rounded {%if post.url == page.url %}active{% endif %}" {%if post.url == page.url %} active{% endif %}" {% if post.url == page.url %}aria-current="True"{% endif %}>{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
    </div>
</div>