---
layout: post-ccna
title: Configure and Verify VLANS
author: Mannchuoy Yam
tag: lab
---

<h4>Simulator: Cisco Packet Tracer Version 8</h4>
<p>In this lab, we are going to learn how to connecto a switch to two IPPhones and we will connect one PC to each phone. Then we verify the connectivity between the two PCs</p>
<p>In this lab we are not going to configure dhcp so that the phone can get IP from the DHCP server. We will do it in the later lab.</p>
<h4>Network Topology</h4>
<div class="text-center">
    <img src="/assets/images/network-access/access-ports/network-access-access-ports-topology.jpg" class="img-fluid" alt=""/>
</div>
<h4>IP Addresses</h4>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            {% for head in site.data.ipaddresstablehead %}
                <th scope="col">{{ head }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>SW1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>SW2</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>PC1</td>
            <td>-</td>
            <td>172.16.0.1</td>
            <td>255.255.255.0</td>
        </tr>
        <tr>
            <td>PC2</td>
            <td>-</td>
            <td>172.16.0.2</td>
            <td>255.255.255.0</td>
        </tr>
    </tbody>
</table>
</div>
<h4>Tasks</h4>
<ol>
    <li>
        Configure PC1 IP address and subnet mask
        <div class="text-center my-3">
            <img src="/assets/images/network-access/access-ports/network-access-access-ports-pc1.jpg" class="img-fluid" />
        </div>
    </li>
    <li>
        Configure PC2 IP address and subnet mask
        <div class="text-center my-3">
            <img src="/assets/images/network-access/access-ports/network-access-access-ports-pc2.jpg" class="img-fluid" />
        </div>
    </li>
    <li>
        Configure SW1 Interface FastEthernet0/1
        <div class="text-center my-3">
            <img src="/assets/images/network-access/access-ports/network-access-access-ports-sw1-port-f01.gif" class="img-fluid" />
        </div>
    </li>
    <li>
        Configure SW1 Interface FastEthernet0/2
        <div class="text-center my-3">
            <img src="/assets/images/network-access/access-ports/network-access-access-ports-sw1-port-f02.gif" class="img-fluid" />
        </div>
    </li>
    <li>
        Power up the phones. Do the same for both phones
        <div class="text-center my-3">
            <img src="/assets/images/network-access/access-ports/network-access-access-ports-iphone-power.gif" class="img-fluid" />
        </div>
    </li>
    <li>
        Verify the connectivity between PC1 and PC2
        <div class="text-center my-3">
            <img src="/assets/images/network-access/access-ports/network-access-access-ports-verify.gif" class="img-fluid" />
        </div>
    </li>
</ol>