---
layout: post-ccna
title: Configure and Verify IPv4 Addressing and Subnetting
author: Mannchuoy Yam
tag: lab
---
<p>
In this lab, we are going to configure IPv4 and subnetting using Cisco Packet Tracer 8.0.1
Network Topology:
</p>
<div class="text-center">
<img src="/assets/images/IPv4-configuration-topology.JPG" class="img-fluid" alt="" />
</div>
<div class="container">
    <p>Let's configure PC0 first with ip address 192.168.1.2, subnetmask 255.255.255.0, and default gateway 192.168.1.1:</p>
    <figure class="figure text-center mx-auto d-block">
        <img src="/assets/images/ipv4_configure_pc.gif" class="figure-img img-fluid" alt="" />
        <figcaption class="figure-caption">Configuring PC0's IP Address</figcaption>
    </figure>
    <h5 class="text-center">Configure PC1 and PC2</h5>
    <p>We follow the same configuring process as PC0. See the images below for the configurations.</p>
    <figure class="figure text-center mx-auto d-block">
        <img src="/assets/images/ipv4_configure_pc1.JPG" class="figure-img img-fluid" alt="" />
        <figcaption class="figure-caption">PC1's IP Address Configuration</figcaption>
    </figure>
    <figure class="figure text-center mx-auto d-block">
        <img src="/assets/images/ipv4_configure_pc2.JPG" class="figure-img img-fluid" alt="" />
        <figcaption class="figure-caption">PC2's IP Address Configuration</figcaption>
    </figure>
    
</div>
<div class="container">
    <p>Next we are going to configure PC1 and PC2 with ip address 172.16.0.2 and 10.0.0.2 respectedly</p>
    <p>We can try to very by sending a ping command to PC1 and PC2 from PC0 but it will fail since we have not configure our router yet.</p>
</div>
<div class="container">
    <h5 class="text-center">Configure Router R0</h5>
    <p>
        Commands used: enable, conf t, hostname, int, ip address, and no shut
    </p>
    <figure class="figure text-center mx-auto d-block">
        <img src="/assets/images/ipv4_configure_r0.gif" class="figure-img img-fluid" alt="" />
        <figcaption class="figure-caption">Router's Interfaces Configuration</figcaption>
    </figure>
</div>
<div>
    <h5 class="text-center">Verify Configuration</h5>
    <figure class="figure text-center mx-auto d-block">
        <img src="/assets/images/ping_pc1and2_from_pc0.gif" class="figure-img img-fluid" alt="" />
        <figcaption class="figure-caption">Ping PC1 and PC2 from PC0 Successfully</figcaption>
    </figure>
</div>