---
layout: post-ccna
title: 3-Tier Network Topology Part I
author: Mannchuoy Yam
tag: lab
---
<div class="container-fluid my-2 px-0">
    <img src="/assets/images/3-tier-network-topology.png" class="img-fluid"/>
</div>
<p>We are going to implement 3-tier network topology. In part I, we are going to configure the access layer switches.</p>
<div class="container-fluid my-2 px-0">
    <img src="/assets/images/3-tier-network-topology-partI-access-layer.png" class="img-fluid"/>
</div>

<h3>Access Layer</h3>
<div class="bg-warning">
<button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#engineering-access-layer-block">Engineering Access Layer Switch</button>
<div class="collapse show" id="engineering-access-layer-block">
    <ol>
        <li class="mb-2">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#asw0">Set hostname of Switch0 to ASW0</button>
            <ul class="collapse show" id="asw0">
                <li>Switch>enable</li>
                <li>Switch#configure terminal</li>
                <li>Switch (config)#hostname ASW0</li>
            </ul>
        </li>
        <li class="mb-2">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#asw0-add-vlan-10">Add VLAN 10 named Engineering</button> 
            <ul class="collapse show" id="asw0-add-vlan-10">
                <li>ASW0 (config)#vlan 10</li>
                <li>ASW0 (config-vlan)#name Engineering</li>
                <li>ASW0 (config-vlan)#exit</li>
            </ul>
        </li>
        <li class="mb-2">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#asw0-add-vlan-fa01">Configure interface Fa0/1 as an access port and assign it to VLAN 10</button>
            <ul class="collapse show" id="asw0-add-vlan-fa01">
                <li>ASW0 (config)#interface fa0/1</li>
                <li>ASW0 (config-if)#switchport mode access</li>
                <li>ASW0 (config-if)#switchport access vlan 10</li>
                <li>ASW0 (config-if)#exit</li>
            </ul>
        </li>
        <li class="mb-2">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#asw0-add-other-ports-vlan99">Assign the rest of interfaces to VLAN 99</button>
            <ul class="collapse show" id="asw0-add-other-ports-vlan99">
                <li>ASW0 (config)#interface range fa0/2 - 24,g0/1 - 2</li>
                <li>ASW0 (config-if-range)#switchport mode access</li>
                <li>ASW0 (config-if-range)#switchport access vlan 99</li>
                <li>ASW0 (config-if-range)#exit</li>
            </ul>
        </li>
    </ol>
</div>
</div>

<!--Sales Access Layer Switch-->
<div class="bg-info">
<button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#sales-access-layer-block">Sales Access Layer Switch</button>
<div class="collapse show" id="sales-access-layer-block">
    <ol>
        <li class="mb-2">
           <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#asw1">Set hostname of Switch 1 to ASW1</button>
           <ul class="collapse show" id="asw1">
                <li>Switch>enable</li>
                <li>Switch#configure terminal</li>
                <li>Switch (config)#hostname ASW1</li>
           </ul> 
        </li>
        <li class="mb-2">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#asw1-add-vlan-20">Add VLAN 20 named Sales</button>
            <ul class="collapse show" id="asw1-add-vlan-20">
                <li>ASW1 (config)#vlan 20</li>
                <li>ASW1 (config-vlan)#name Sales</li>
                <li>ASW1 (config-vlan)#exit</li>
            </ul>
        </li>
        <li class="mb-2">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#asw1-add-fa01-to-vlan-20">Configure interface Fa0/1 as an access port and assign it to VLAN 20</button>
            <ul class="collapse show" id="asw1-add-fa01-to-vlan-20">
                <li>ASW1 (config)#interface fa0/1</li>
                <li>ASW1 (config-if)#switchport mode access</li>
                <li>ASW1 (config-if)#switchport access vlan 10</li>
                <li>ASW1 (config-if)#exit</li>
            </ul>
        </li>
        <li class="mb-2">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#asw1-add-other-ports-vlan99">Assign the rest of interfaces to VLAN 99</button>
            <ul class="collapse show" id="asw1-add-other-ports-vlan99">
                <li>ASW0 (config)#interface range fa0/2 - 24,g0/1 - 2</li>
                <li>ASW0 (config-if-range)#switchport mode access</li>
                <li>ASW0 (config-if-range)#switchport access vlan 99</li>
                <li>ASW0 (config-if-range)#exit</li>
            </ul>
        </li>
    </ol>
</div>
</div>

<!--Accounting Access Layer Switch-->
<div class="bg-warning">
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#accounting-access-layer-block">Accounting Access Layer Switch</button>
    <div class="collapse show" id="accounting-access-layer-block">
        <ol>
            <li class="mb-2">
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#asw2">Set hostname of Switch2 to ASW2</button>
                <ul class="collapse show" id="asw2">
                    <li>Switch>enable</li>
                    <li>Switch#configure terminal</li>
                    <li>Switch (config)#hostname ASW2</li>
                </ul>
            </li>
            <li class="mb-2">
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#asw2-add-vlan-10">Add VLAN 30 named Accounting</button> 
                <ul class="collapse show" id="asw2-add-vlan-30">
                    <li>ASW2 (config)#vlan 30</li>
                    <li>ASW2 (config-vlan)#name Accounting</li>
                    <li>ASW2 (config-vlan)#exit</li>
                </ul>
            </li>
            <li class="mb-2">
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#asw2-add-vlan-fa01">Configure interface Fa0/1 as an access port and assign it to VLAN 30</button>
                <ul class="collapse show" id="asw2-add-vlan-fa01">
                    <li>ASW2 (config)#interface fa0/1</li>
                    <li>ASW2 (config-if)#switchport mode access</li>
                    <li>ASW2 (config-if)#switchport access vlan 30</li>
                    <li>ASW2 (config-if)#exit</li>
                </ul>
            </li>
            <li class="mb-2">
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#asw2-add-other-ports-vlan99">Assign the rest of interfaces to VLAN 99</button>
                <ul class="collapse show" id="asw2-add-other-ports-vlan99">
                    <li>ASW2 (config)#interface range fa0/2 - 24,g0/1 - 2</li>
                    <li>ASW2 (config-if-range)#switchport mode access</li>
                    <li>ASW2 (config-if-range)#switchport access vlan 99</li>
                    <li>ASW2 (config-if-range)#exit</li>
                </ul>
            </li>
        </ol>
    </div>
</div>