---
layout: post-ccna
title: 2.2 Configure and Verify Interswitch Connectivity
author: Mannchuoy Yam
tag: lab
---
<div class="container-fluid my-1 px-0">
    <img src="/assets/images/interswitch_hero.png" class="img-fluid"/>
</div>
<div>
    <h4>Task 1: PC configuration</h4>
    <ol>
      <li>Configure PC1 with IP address 192.168.1.10/24</li>
      <li>Configure PC2 with IP address 192.168.1.20/24</li>
      <li>Configure PC3 with IP address 192.168.1.11/24</li>
      <li>Configure PC4 with IP address 192.168.1.21/24</li>
    </ol>
</div>
<div>
    <h4>Task 2: Verify connectivity</h4>
    <ol>
      <li>From PC1, ping PC2, PC3, PC4. The ping should be successful.</li>
      <li>From PC2, ping PC3, PC4. The ping should be successful.</li>
      <li>From PC3, ping PC4. The ping should be successful.</li>
    </ol>
</div>
<div>
    <h4>Task 3: SW1 configuration</h4>
    <ol>
      <li>Configure hostname SW1</li>
      <li>Configure port Fa0/1 as access mode</li>
      <li>Configure port Fa0/2 as access mode</li>
      <li>Create VLAN 10 and VLAN 20</li>
      <li>Add Fa0/1 to VLAN 10, and Fa0/2 to VLAN 20</li>
    </ol>
</div>
<div>
    <h4>Task 4: SW2 configuration</h4>
    <ol>
        <li>Configure hostname SW2</li>
        <li>Configure port Fa0/1 as access mode</li>
        <li>Configure port Fa0/2 as access mode</li>
        <li>Create VLAN 10 and VLAN 20</li>
        <li>Add Fa0/1 to VLAN 10, and Fa0/2 to VLAN 20</li>
    </ol>
</div>
<div>
    <h4>Task 5: Verify connectivity</h4>
    <ol>
      <li>From PC1, ping PC2, PC3, PC4. All the pings should fail.</li>
      <li>From PC2, ping PC3, PC4. All the pings should fail.</li>
      <li>From PC3, ping PC4. The ping should fail.</li>
    </ol>
</div>
<div>
    <h4>Task 6: Create Trunk Port</h4>
    <ol>
      <li>Configure SW1 port Fa0/3 as trunk mode and allow VLAN 10, VLAN 20</li>
      <li>Configure SW2 port Fa0/3 as trunk mode and allow VLAN 10, VLAN 20</li>
    </ol>
</div>
<div>
    <h4>Task 7: Verify connectivity</h4>
    <ol>
      <li>From PC1, ping PC3. The ping should be successful. (Same VLAN)</li>
      <li>From PC1, ping PC2, PC4. The ping should fail. (Different VLAN)</li>
      <li>From PC2, ping PC3. The ping should fail. (Different VLAN)</li>
      <li>From PC2, ping PC4. The ping should fail. (Same VLAN)</li>
      <li>From PC3, ping PC4. The ping should fail. (Different VLAN)</li>
    </ol>
</div>

<div>
    <h4>Solution: Will be posted as a Youtbe Video</h4>
</div>