<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="container-fluid">
        {% include header.html %}
        <main>
            {% include sidebar.html %}
            {{ content }}
        </main>
        {% include footer.html %}
    </body>
    
</html>