---
layout: default
---
<div class="container-fluid">
    <h3 class="text-center">{{ page.title }}</h3>
    <p class="text-center">{{ page.date | date_to_string }} - {{ page.author }} </p>

    <div class="container">
        {{ content }}
    </div>
</div>